include MANIFEST.in
include LICENSE.txt
include README.txt
include setup.py
include grammy/__init__.py
include grammy/gemcore.cpp
include grammy/gemcore.hpp
include grammy/gemcore.py
include grammy/kmercore.cpp
include grammy/kmercore.hpp
include grammy/gemcore_wrap.cpp
include grammy/mmio.c
include grammy/mmio.h
include grammy/gemaux.py
include grammy/gemlib.py
include grammy/gemmath.py
include grammy/gemutil.py
include grammy/mydebug.cpp
include grammy/mydebug.hpp
include grammy/grammy_em.py
include grammy/grammy_gdt.py
include grammy/grammy_post.py
include grammy/grammy_pre.py
include grammy/grammy_rdt.py
